#graphs-section {
    width: 100%;
    margin-top: 2em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;

    .panel {
        background: var(--cwd-panel-bg);
        color: var(--cwd-panel-fg);

        box-sizing: border-box;

        width: 400px;
        height: 225px;

        padding: 0.25em;

        @extend .column;

        .heading {
            font-family: Segoe UI, Century Gothic, 'Roboto', Arial, sans-serif;
            color: var(--cwd-chart-heading);
            padding: 0.75em;
        }

        canvas {
            height: 175px !important;
            width: calc(400px - 0.5em) !important;
            box-sizing: content-box;
        }
    }
}
