:root {
    --cwd-body-bg: #060818;
    --cwd-body-fg: #888ea8;

    --cwd-nav-bg: #10121D;
    --cwd-nav-fg: #bfc9d4;
    --cwd-nav-heading: #506690;
    --cwd-nav-active-fg: #22c7d5;

    --cwd-border-color: var(--cwd-coin-color, #0e1726);

    --cwd-panel-bg: #242742;
    --cwd-panel-header: #a5abe5;
    --cwd-panel-text: #000;
}
