body {
    @include reset;

    background: var(--cwd-body-bg);
    color: var(--cwd-body-fg);

    overflow-y: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}
