.hidden {
    display: none !important;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.card {
    background: #242742;
    border-radius: 10px;
    padding: 1em;
}

.panel {
    background: var(--cwd-panel-bg);
    color: var(--cwd-panel-fg);

    box-sizing: border-box;

    padding: 0.25em;

    @extend .column;

    .heading {
        font-family: Segoe UI, Century Gothic, 'Roboto', Arial, sans-serif;
        color: var(--cwd-chart-heading);
        padding: 0.75em;
    }

    canvas {
        height: 175px !important;
        width: calc(400px - 0.5em) !important;
        box-sizing: content-box;
    }
}


.sub-card {
    background: var(--cwd-body-bg);
    color: var(--cwd-body-fg);
    border-radius: 10px;
    padding: 0.25em 0.5em;
}
